.App {

}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 30px;

}

.hms {
  display: flex;
  gap: 30px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-shadow: 1px 1px 2px #999;
}

.countdown-timer {
  font-size: 10rem;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 1px 2px #999;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 1px 2px #999;
}

.timer-num {
  font-size: 100px;
  text-shadow: 1px 1px 3px;
}

.timer-text {
  font-size: 20px;
  text-shadow: 1px 1px 2px;
  color: white;
}

.input-field {
  border: 2px solid black;
  background-color: #CAD5E2;
  height: 25px;
  border-radius: 4px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
